
*.pdf
sales_submission.csv
.ipynb_checkpoints/Model-checkpoint.ipynb
Proj_Lenta.zip
.ipynb_checkpoints/Model-Copy1-checkpoint.ipynb
.ipynb_checkpoints/Model-Copy2-checkpoint.ipynb
.ipynb_checkpoints/Model-Copy3-checkpoint.ipynb
Model-Copy3.ipynb
Model-Copy2.ipynb
Model-Copy1.ipynb
Model-Copy1.ipynb
Model-Copy2.ipynb
Model-Copy3.ipynb
.ipynb_checkpoints/Model-Copy3-checkpoint.ipynb
.ipynb_checkpoints/Model-Copy2-checkpoint.ipynb
.ipynb_checkpoints/Model-Copy1-checkpoint.ipynb
.ipynb_checkpoints/Model-checkpoint.ipynb
.ipynb_checkpoints/lenta-checkpoint.ipynb
.ipynb_checkpoints/lenta (2)-checkpoint.ipynb
Model-Copy3.ipynb
lenta.ipynb
.ipynb_checkpoints/Model-Copy3-checkpoint.ipynb
.ipynb_checkpoints/Model-Copy2-checkpoint.ipynb
.ipynb_checkpoints/Model-Copy1-checkpoint.ipynb
.ipynb_checkpoints/Model-checkpoint.ipynb
.ipynb_checkpoints/lenta-checkpoint.ipynb
.ipynb_checkpoints/lenta (2)-checkpoint.ipynb
